<div class="col-md-8">
  <h1>The weather in <%= @forecasts.current['name'] %>, <%= @forecasts.current['sys']['country'] %></h1>
  <p>
    <span class="lead"><%= @forecasts.current['weather'][0]['main'] %></span>&nbsp;
    <small>(<%= @forecasts.current['weather'][0]['description'] %>)</small>
  </p>
</div>
<div class="col-md-4">
  <dl class="row">
    <dt class="col-sm-4">Temperature:</dt>
    <dd class="col-sm-8"><%= @forecasts.current['main']['temp'] %> C</dd>

    <dt class="col-sm-4">Humidity:</dt>
    <dd class="col-sm-8"><%= @forecasts.current['main']['humidity'] %> %</dd>

    <dt class="col-sm-4">Pressure:</dt>
    <dd class="col-sm-8"><%= @forecasts.current['main']['pressure'] %> Millibars</dd>

    <dt class="col-sm-4">Wind:</dt>
    <dd class="col-sm-8"><%= @forecasts.current['wind']['speed'] %></dd>
  </dl>
</div>