<!DOCTYPE html>
<html>
  <head>
    <title>ApiWeather</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <div class="container">
        <%= link_to 'ApiWeather', root_path, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <%= form_for :forecast, url: forecasts_show_path, method: 'GET', html: { class: 'form-inline my-2 my-lg-0' } do |f| %>
            <%= f.text_field :location, class: 'form-control mr-sm-2', placeholder: 'Search for location ...' %>
            <%= f.submit 'Go!', class: 'btn btn-outline-success my-2 my-sm-0' %>
          <% end %>
        </div>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">
          Developed by <a href="mailto:LykourgosTs@hotmail.com">Lykourgos Tsirikos</a>
        </span>
      </div>
    </footer>
  </body>
</html>
